@using The_World.Models
@model IEnumerable<The_World.Models.Trip>

@{
    ViewBag.Title = "Home Page";
}

<h1>Hello World!</h1>
<p>This will be a fine site soon!</p>
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <div>
                    <label class="control-label">Date</label>
                    <input class="form-control"/>
                </div>
                <div>
                    <label class="control-label">Location</label>
                    <input class="form-control"/>
                </div>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Add"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>
        <ul>
            @foreach (Trip trip in Model)
            {
                <li>@trip.Name (@trip.Created.ToShortDateString())</li> 
            }
        </ul>
    </div>
</div>
